body {
    display: flex;
    flex-direction: row;
    font-family: Ubuntu,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Cantarell,Helvetica Neue,sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
}
i {
    color: rgb(0, 0, 0);
}
.left-side {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    height: 100%;
    border-right: 1px solid rgb(155, 141, 141);
}

.right-side {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 70%;
    height: 100%;
    margin-left: 40px;
}

.my-image {
    display: inline-block;
    align-items: center;
    width: 50%;
    height: auto;
    border-radius: 50%;
}

figcaption h2 {
    display: inline-block;
    text-align: left;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

.Title {
    margin-top: 30px;
    font-size: 35px;
    color: rgb(0, 0, 0);
}

.Title:hover {
    transition: 0.3s;
    font-size: 45px;
    color: rgb(0, 0, 0);
    font-style: italic;
}

.about-me {
    display: inline-block;
    margin-top: 0px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.about-me p {
    display: inline-block;
    margin-left: 10px;
    font-size: 26px;
    color: rgb(0, 0, 0);
}

.all-contacts {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    font-size: 20px;
}

.contact-1 ul, .contact-2 ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    font-size: 20px;
}

.contact-1 li, .contact-2 li {
    margin: 10px;
}

.icons {
    font-size: 40px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(185, 180, 180);
    align-items: center;
    padding: 10px;
    border-radius: 40%;
}
